<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %>

<main class="container">
    <div class="row">
        <div class="offset-md-1 col md-10">
            <h1><%= title %></h1>
            <br>
            <table class="table table-bordered table-striped table-hover">
                <!--Header Row-->
                <thead>
                <tr>
                    <th class="text-center">Name</th>
                    <th class="text-center">Phone Number</th>
                    <th class="text-center">Email</th>
                    <th class="text-center"></th>
                    <th class="text-center"></th>
                </tr>
                </thead>
                <!--Table Body-->
                <tbody>
                <% for(let count = 0; count < BusinessContactList.length; count++){ %>
                    <tr>
                        <td class="text-center"><%= BusinessContactList[count].contactName %></td>
                        <td class="text-center"><%= BusinessContactList[count].contactNumber %></td>
                        <td class="text-center"><%= BusinessContactList[count].email %></td>
                        <td class="text-center">
                            <a href="/business-contacts/update/<%= BusinessContactList[count]._id %>"
                               class="btn btn-primary">
                                <i class="fas fa-pencil alt"></i> Update
                            </a>
                        </td>
                        <td class="text-center">
                            <a href="/business-contacts/delete/<%= BusinessContactList[count]._id %>"
                               class="btn btn-danger">
                                <i class="fas fa-trash-alt"></i> Delete
                            </a>
                        </td>
                    </tr>
                <% } %>
                </tbody>
            </table>
        </div>
    </div>
</main>

<!--Script section-->
<%- include ../partials/bottom_nav.ejs %>
<%- include ../partials/footer.ejs %>
